<div>
  <h1>Add Image</h1>
  <form method="POST" action="" enctype="multipart/form-data">
    Keyword <input type="text" name="keyword" />
    <br />
    <label for="inputFile">Upload Picture</label>
    <br />
    <input type="file" name="inputFile" />
    <br />
    <input type="submit" name="submitButton" value="ADD" />
  </form>

  <h1>Search Image</h1>
  <form method="POST" action="">
    Search Keyword(s) <input type="text" name="search" />
    <br />
    <input type="submit" name="submitButton" value="SEARCH" />
  </form>
</div>
